.tournamentDetails {
  display: flex;
  flex-direction: column;
align-items: start;
  padding: 1rem;
}
.tournamentDetails h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 0;
}

.tournamentDetails p {
  font-size: 1rem;
  color: #333;
  margin: 0;
}

