.displayUsers {
  overflow: hidden;
  width: 100%;
}

.scrollableContainer {
  overflow-x: auto;
  width: 100%;
}

.userTable {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

.userTable th {
  text-align: left;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: white;
}

.userTable td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.ranking {
  text-align: right;
}

.userTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

