.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 1fr;

  grid-template-areas:
    "icon header"
    "nav main";

  --primary-color: #2e5a5b;
}

.header {
  grid-area: header;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.icon {
  grid-area: icon;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

.header h1 {
  margin: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.main {
  grid-area: main;
  background-color: #f1f3f3;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.nav {
  grid-area: nav;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .layout {
    grid-template-areas:
      "icon header"
      "main main"
      "nav nav";
    grid-template-rows: 50px 1fr 70px;
  }
}
